{% extends "base.html" %}
{% block title %} <title>Register page</title> {% endblock %}

{% block content %}

    <div>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Login page</legend>
                {{ form.as_p }}
            </fieldset>
            <div>
                <button type="submit">Sign up</button>
            </div>
        </form>
        <div>
            <small>
                Need an account? <a href="{% url 'register' %}">Sign Up</a>
            </small>
        </div>
    </div>

{% endblock content %}