{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charser="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href='{% static "styles.css" %}'>
</head>
<body>
	<nav>
		{% block navbar %}
			<div class="left">
				<button id="mainpage" class="navi">Главная</button>
				<button id="myreels" class="navi">Мои барабаны</button>
			</div>
			<div class="right">
				<button id="singin" class="navi">Войти</button>
				<button id="singup" class="navi">Зарегистрироваться</button>
			</div>
	{% endblock %}
	</nav>
	{% block content %}{% endblock %}
</body>
</html>